p {
  font-family: monospace; }

section {
  padding: 5% 0;
  position: relative; }

h3 {
  font-family: 'Unica One', cursive !important;
  margin-bottom: 4% !important;
  font-size: 4em !important;
  text-align: center;
  /*display: none;*/ }

a {
  text-decoration: none !important; }

header {
  color: white;
  background: #392033;
  background: -moz-linear-gradient(-45deg, #392033, #392033);
  background: -webkit-linear-gradient(-45deg, #392033, #392033);
  background: linear-gradient(15deg, #392033 0%, #392033 100%); }
  header .navbar-toggle {
    background-color: white; }
  header .navbar-default {
    background-color: #392033 !important;
    border-color: transparent !important; }
  header nav a {
    font-size: 1.5em;
    color: white !important;
    font-weight: bold;
    font-family: 'Unica One', cursive !important; }
    header nav a:hover {
      font-size: 1.7em; }
  header nav .active a {
    font-weight: bold;
    background-color: transparent !important;
    font-size: 1.7em;
    color: #fd6051 !important; }
  header #head {
    padding: 15%; }
    header #head h1 {
      font-size: 3em;
      font-family: 'Unica One', cursive; }

#aboutMe {
  color: #ffe577;
  background: #fd6051;
  background: -moz-linear-gradient(-45deg, #fd6051, #392033);
  background: -webkit-linear-gradient(-45deg, #fd6051, #392033);
  background: linear-gradient(0deg, #fd6051 0%, #392033 100%);
  padding-bottom: 0; }
  #aboutMe p {
    font-size: 1.4em;
    margin: 10%; }
  #aboutMe img {
    border-radius: 50%;
    background: white;
    margin: 0 auto;
    width: 85%; }

#skills {
  padding-top: 0% !important;
  color: #ffe577;
  background: #ff8967;
  background: -moz-linear-gradient(-45deg, #ff8967, #f);
  background: -webkit-linear-gradient(-45deg, #ff8967, #fd6051);
  background: linear-gradient(0deg, #ff8967 0%, #fd6051 100%); }
  #skills h4 {
    font-size: 2em;
    font-weight: 600; }
  #skills p {
    font-size: 1.5em; }
  #skills .skill i, #skills .skill p {
    font-size: 8em;
    color: rgba(57, 32, 51, 0.85); }
  #skills .skill i:hover {
    color: #392033; }
  #skills .skill p:hover {
    color: #392033; }

#proyectos {
  color: #392033;
  background: #fec051;
  background: -moz-linear-gradient(-45deg, #fec051, #ff8967);
  background: -webkit-linear-gradient(-45deg, #fec051, #ff8967);
  background: linear-gradient(0deg, #fec051 0%, #ff8967 100%); }
  #proyectos figure.effect-bubba {
    background: #392033; }
  #proyectos .grid figure {
    margin: 5px 1%;
    min-width: 100%;
    max-width: 100%;
    border: 5px solid white; }
    #proyectos .grid figure span {
      font-weight: 600; }
  #proyectos .btn-default {
    color: white;
    background-color: #fd6051;
    border-color: #fd6051; }

#contact {
  color: #fd6051;
  background: #ffe577;
  background: -moz-linear-gradient(-45deg, #ffe577, #fec051);
  background: -webkit-linear-gradient(-45deg, #ffe577, #fec051);
  background: linear-gradient(0deg, #ffe577 0%, #fec051 100%); }
  #contact p {
    font-size: 1.2em;
    color: #392033;
    font-weight: 600; }
  #contact a:hover {
    color: #392033; }
  #contact .box {
    color: #fd6051; }
  #contact i {
    font-size: 10em; }
  #contact .cont {
    margin: 6%; }

footer {
  color: #392033;
  background: #ffe577; }

/*# sourceMappingURL=main.css.map */
