p {
	font-family: monospace;
}
section {
	padding: 5% 0;
	position: relative;
}

h3 {
	font-family: 'Unica One', cursive !important;
  	margin-bottom: 4% !important;
  	font-size: 4em !important;
  	text-align: center;
  	/*display: none;*/
}
a {
	text-decoration: none !important;
}

header {
	color: white;
	background: #392033;
	background: -moz-linear-gradient(-45deg, #392033 , #392033 );
	background: -webkit-linear-gradient(-45deg, #392033 , #392033 );
	background: linear-gradient(15deg, #392033 0%, #392033 100%);

	.navbar-toggle {
		background-color: white;
		
	}
	.navbar-default {
		background-color: #392033 !important;
		border-color: transparent !important;
	}
	nav {
		a {
			font-size: 1.5em;
			color: white !important;
			font-weight: bold;
			font-family: 'Unica One', cursive !important;
			&:hover {
				font-size: 1.7em;
			}
		}
		.active a {
			font-weight: bold;
			background-color: transparent !important;
			font-size: 1.7em;
			color: #fd6051 !important;
		}
	}
	#head {
		padding: 15%;
		h1 {
			font-size: 2em;
	    	font-family: 'Unica One', cursive;
		}
	}
}

#aboutMe {
	color: #ffe577;
  	background: #fd6051;
	background: -moz-linear-gradient(-45deg, #fd6051 , #392033);
	background: -webkit-linear-gradient(-45deg, #fd6051 , #392033);
	background: linear-gradient(0deg, #fd6051 0%, #392033 100%);

	p {
		font-size: 1.4em;
		margin: 10%;
	}
	img {
		border-radius: 50%;
		background: white;
		margin: 0 auto;
		width: 85%;
	}
}

#skills {
	padding-top: 0% !important;
	color: #ffe577;
	background: #ff8967;
	background: -moz-linear-gradient(-45deg, #ff8967 , #f);
	background: -webkit-linear-gradient(-45deg, #ff8967 , #fd6051);
	background: linear-gradient(0deg, #ff8967 0%, #fd6051 100%);
	h4 {
		font-size: 2em;
		font-weight: 600;
	}
	p {
		font-size: 1.5em;
	}
	.skill {
		i, p {
			font-size: 8em;
			color: rgba(57, 32, 51, 0.85);
		}
		i:hover {
			color: #392033;
		}
		p:hover {
			color: #392033;
		}
	}
}

#proyectos {
	color: #392033;
	background: #fec051;
	background: -moz-linear-gradient(-45deg, #fec051 , #ff8967 );
	background: -webkit-linear-gradient(-45deg, #fec051 , #ff8967 );
	background: linear-gradient(0deg, #fec051 0%, #ff8967 100%);

	a {
		img {
			opacity: 0.9;
			border: 10px solid white;
			margin-bottom: 4%;
			&:hover {
				opacity: 2;
			}
		}
	}
	

	.modal-content {
		background-color: #392033 !important;
		color: white;
		button {
			color: white;
		}
		.modal-header {
			border-bottom: none;
		}
		.modal-body {
			a {
				background-color: rgba(255, 137, 103, 0.95);
			}
			.btn-default {
				color: white;
				border-color: #ff8967;
			}
			.btn-default:hover {
				background-color: #ff8967;
			}
		}
		.modal-footer {
			border-top: none;
		}
	}
}

#contact {
	color: #fd6051;
	background: #ffe577;
	background: -moz-linear-gradient(-45deg, #ffe577 , #fec051 );
	background: -webkit-linear-gradient(-45deg, #ffe577 , #fec051 );
	background: linear-gradient(0deg, #ffe577 0%, #fec051 100%);

	
	p {
		font-size: 1.2em;
		color: #392033;
		font-weight: 600;
	}
	a {
		&:hover {
			color: #392033;
		}
	}
	.box {
		color: #fd6051;
	} 
	i {
		font-size: 10em;
	}
	.cont {
		margin: 6%;
	}
}

footer {
	color: #392033;
  	background: #ffe577;
}